html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#system-messages {
    right: 20px;
    position: fixed;
    top: 60px;
    width: 550px;
    z-index: 10;
}

.no-padding{padding:0;}
.no-padding-left{padding-left:0;}
.no-padding-right{padding-right:0;}
.no-margin{margin:0;}
.margin-center{margin: 0 auto;}

.file-drop-zone{ height: inherit;}

.sidebar-menu{
    padding-top:10px;
    background-color: #fff;
}
@media (min-width: 768px){
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 0px;
    background-color: inherit;
}
}
#loading{
    position:fixed;
    z-index: 2000;
    width:100%;
    height:100%;
    background-color: white;
    opacity: 0.25;
    text-align: center; 
    vertical-align: middle; 
    line-height: 50;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

html, body{
     height:100%;
     padding:0;
     margin:0;
 }
 .player-back-drop{
     width:100%;
     height:100%; 
     top:0;
     left:0;
     position:fixed;
     z-index: 2000;
     background-color:black;
     opacity: 0.75;
 }
 .player{
     width:100%;
     height:100%;
     top:0;
     left:0;
     position:fixed;
     z-index: 2001;
 }
 .player>*{
     display:inline-block;
 }
 .player-header{
     display:inline-block;
     background-color:black;
     opacity:1;
     color:white;
     width:100%;
     height:50px;
     z-index: 2010;
 }
 .player-icon{
     display:inline-block;
     width:50px;
     height:50px;
     text-align: center;
 }
 .player-title{
     display:inline-block;
     text-align: center;
     width:100%;
     position: fixed;
     left:0;
     line-height:50px;
 }
 .player-title-text{
     margin:auto;
     display:inline;
 }
 .player-album{
     color:white;
     font-weight: bold;
     text-decoration: underline;
 }
 .player-close{
     display:inline-block;
     position:fixed;
     right:0;
     width:50px;
     height:50px;
     float:right;
     text-align: center;
     z-index:2010;
     color:white;
     cursor: pointer;
 }
 .player-content{
     display:flex; /* for removing gap between content and footer */
     padding:0px;
     width:100%;
     height: -moz-calc(85% - 50px);
     height: -webkit-calc(85% - 50px);
     height: calc(85% - 50px);

 }
 .player-left,.player-right{
     opacity:0;
     color:white;
     font-size:50px;
     text-align: center;
     position:fixed;
     width:60px;
     height:100%;
     padding-left:5px;
     padding-right:5px;
     display:table;
     top:0;
 }
 .player-left{
     left:0;
 }
 .player-left > a{
     color:white;
 }
 .player-right{
     right:0;
 }
 .player-right > a {
     color:white;
 }
 .player-left:hover,.player-right:hover{
     opacity:1;
 }
 .player-media{
     background:transparent;
     width:100%;

     width: -moz-calc(100% - 120px);
     width: -webkit-calc(100% - 120px);
     width:calc(100% - 120px);
     height:100%;
     margin:auto;
 }
 .player-media-wrapper {
     height:100%;
     width:100%;
     text-align: center;
 }
 .player-media-wrapper > * {
     height: 100%;
     width: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     color:white;
 }
 .player-media-wrapper > div > img{
     /*display:table-cell;*/
     vertical-align: middle;
     height:100%;
 }

 .player-footer{
     height:15%;
     min-height:200px;
     width:100%;
     /*position:fixed;*/
     overflow-y:scroll;
 }
 .player-footer > *{
     display:inline-block;
 }
 .player-tag-container{
     width:90%;
     height:100%;
     padding-left:60px;
     color:white;
     background-color:black;
 }
 .player-tag-icon{
     padding-top:5px;
     width:50px;
     display:inline;
 }
 .player-tag{
     font-size:18px;
     font-weight: bold;
     color:white;
     display:inline-block;
 }
 .player-tag > a {
     color:white;
     text-decoration: underline;
     margin-right:5px;
 }
 .player-download{
     width:10%;
     min-width:100px;
     height: 100%;
     float:right;
     padding:5px;
     background-color:black;
     vertical-align: middle;
     text-align: center;
     padding-top:20px;

 }
 .plyr__poster {
     background-size:cover;
 }
 .plyr--audio > .plyr__controls {
     background: #fff;
     border-radius: inherit;
     color: #4f5b5f;
     padding: 10px;
     width: 100%;
 }
 .plyr__video-wrapper {
     background: transparent; 
     border-radius: inherit;
     overflow: hidden;
     z-index: 0;
     height: 100%;
 }
 .plyr video {
     border-radius: inherit;
     height: 100%;
     vertical-align: middle;
     width: auto;
 }
 .plyr__poster {
     background-color: #000;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: contain;
     height: 100%;
     left: 0;
     opacity: 0;
     position: absolute;
     top: 0;
     transition: opacity .3s ease;
     z-index: 1;
     pointer-events: none;
 }
 .plyr--video .plyr__controls {
     background: linear-gradient(transparent,rgba(0,0,0,.7));
     border-bottom-left-radius: inherit;
     border-bottom-right-radius: inherit;
     bottom: 0;
     color: #fff;
     left: unset; 
      padding: 0px; 
     position: absolute;
      right: unset; 
     transition: opacity .4s ease-in-out,transform .4s ease-in-out;
     z-index: 2;
     width: 100%;
 }
 
 /*loader 3  */
.loader3, .loader3 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
          animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-left-color: rgba(0, 0, 255, 0.5);
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
          animation-timing-function: cubic-bezier(0.55, 0.38, 0.21, 0.88);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
}
.loader div {
  height: 100%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}
    